@font-face {
    font-family: 'Kaluna Script DEMO';
    src: url('KalunaScriptDEMO.woff2') format('woff2'),
        url('KalunaScriptDEMO.woff') format('woff'),
        url('KalunaScriptDEMO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

